@media only screen and (max-width: 480px) {
    img {
    width: 4px;
    }
    }
    @media only screen and (max-width: 700px) {
        img {
        width: 6px;
        }
        }

        @media only screen and (max-width: 1000px) {
            img {
            width: 10px;
            }
            }
